$White: hsl(0, 0%, 100%);
$Light-gray: hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);
$Dark-blue: hsl(218, 44%, 22%);

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    background: $Light-gray;
    font-family: 'Outfit', sans-serif;
}

main {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: $White;
    border-radius: 15px;
    box-shadow: 0 15px 25px 1px #a0a0a057;
    width: 15rem;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .QR-img {
        border-radius: 10px;
        width: 100%;
    }

    .title-section {
        margin: 14px 20px;

        .title {
            color: $Dark-blue;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;
        }
    }

    .description-section {
        margin: 0 3px 20px 3px;

        .description {
            color: $Grayish-blue;
            font-size: 14px;
            text-align: center;
            
        }

    }

        
}